apiVersion: v1
kind: ConfigMap
metadata:
  name: rag-service-config
data:
  EMBEDDING_MODEL: "BAAI/bge-small-en-v1.5"
  TABLE_NAME: "pdf_vectors"
  S3_BUCKET_NAME: "akimovp-bucket-..."
  S3_ENDPOINT_URL: "https://storage.yandexcloud.net"
  AWS_REGION: "ru-central1"
  LLM_MODEL_NAME: "qwen2.5:1.5b"
  OLLAMA_URL: "http://ollama-qwen-service.default.svc.cluster.local:11434/api/generate"