*~
*.*~
.terraform
*.tfvars
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
uv.lock
secret-rag.yaml
static_key.json
variables.json
configmap-rag.json